@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    8% {
        transform: rotate(30deg);
    }

    9% {
        transform: rotate(30deg);
    }

    17% {
        transform: rotate(60deg);
    }

    18% {
        transform: rotate(60deg);
    }

    25% {
        transform: rotate(90deg);
    }

    26% {
        transform: rotate(90deg);
    }

    33% {
        transform: rotate(120deg);
    }

    34% {
        transform: rotate(120deg);
    }

    42% {
        transform: rotate(150deg);
    }

    43% {
        transform: rotate(150deg);
    }

    50% {
        transform: rotate(180deg);
    }

    51% {
        transform: rotate(180deg);
    }

    58% {
        transform: rotate(210deg);
    }

    59% {
        transform: rotate(210deg);
    }

    67% {
        transform: rotate(240deg);
    }

    68% {
        transform: rotate(240deg);
    }

    75% {
        transform: rotate(270deg);
    }

    76% {
        transform: rotate(270deg);
    }

    83% {
        transform: rotate(300deg);
    }

    84% {
        transform: rotate(300deg);
    }

    92% {
        transform: rotate(330deg);
    }

    93% {
        transform: rotate(330deg);
    }

    99% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    background: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #c2c2c2;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 24px;
}

.btn-1,
.btn-2 {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-1 a,
.btn-2 a {
    text-decoration: none;
    border: 2px solid #010100;
    padding: 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.btn-1 a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    height: calc(100% - 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
    transform: scaleY(0);
}

.btn-1 a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}

.btn-1 a:hover::after,
.btn-2 a:hover::after {
    transform: scaleX(0);
}

.btn-2 a {
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.btn-2 a:hover {
    color: #000000;
    transition: all 0.5s ease-in-out;
}

.btn-2 a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
}

.btn-2 a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}