canvas {
    border: 1px solid black;
    width: 100vmin;
    height: 100vmin;
}

#drawing-mode-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

#choice {
    display: flex;
    justify-content: center;
    align-items: center;
}