#colorBtn {
    border: 1px solid black;
    padding: 3vh;
    margin-bottom: 55vh;
    margin-left: 1vh;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.btn-color-group {
    margin-top: 1vh;
    margin-right: 50vh;
}

.btn-color-group #colorBtn:hover {
    border: 3px solid orange;
}